In [1]:
a= 10
b=20

In [2]:
a!=b

True

In [5]:
if a < b: 
    print('is is true')
else:
    print('is is false')
    print('is is false')
    print('is is false')

is is true

In [2]:
temp = int(input("Enter the temperature today"))# type casting
if temp>30:
    print("its hot weather today")
else:
    print("normal weather")

Enter the temperature today23
normal weather

# Nested If's

In [9]:
cnic = input("do you have cnic?")
if cnic=="yes":
    print("ander chalay jaen")
    nameinlist = input("is my name un list?")
    if nameinlist=="yes":
        print("plesase caste your vote")
    else:
        print("you can not caste vote")
        
else:
    print("you cant caste vote")

do you have cnic?yes
ander chalay jaen
is my name un list?no
you can not caste vote

In [ ]:
education@piaic.org

# if elif else

In [15]:
marks = int(input("Enter your marks :"))
grade = " "
if marks>=90:
    grade = "A*"
elif marks>=80:
    grade = "A"
elif marks>=70:
    grade = "B"
elif marks>=60:
    grade = "C"
elif marks>=50:
    grade = "D"
else:
    print("you are ungraded please try again")
    
print(f"your marks are {marks} and your grade is {grade}")

Enter your marks :70
your marks are 70 and your grade is B

In [ ]:
cnic = input("do you have cnic?")
# this is a comment

nameinlist = input("is my name un list?")

if (cnic=='yes') and (is my name in list)
    else:
        print("you can not caste vote")
else:
#     '''dasdasdasdasdad'''       ye coding dubara sekho or dusri baat ctrl+Farword+/ sy comment hoti hy not a code

# list

In [ ]:
students = ["fateh", 'arman', 'hanan', 'shoaib']
index          0        1        2         3

In [23]:
list1 = ['string', 34, 34.6, True]
list1

['string', 34, 34.6, True]

In [8]:
students = ["fateh", 'arman', 'hanan', 'shoaib']
students[1]

'arman'

In [9]:
students

['fateh', 'arman', 'hanan', 'shoaib']

In [13]:
students.append("Fateh")

In [27]:
students = ["fateh", 'arman', 'hanan', 'shoaib']
students.insert(2,'sadiq')

In [28]:
students

['fateh', 'arman', 'sadiq', 'hanan', 'shoaib']

In [30]:
del students[3]

In [32]:
students.append('daniyal')

In [33]:
students

['fateh', 'arman', 'sadiq', 'daniyal', 'daniyal']

In [36]:
del student[4]

NameError: name 'student' is not defined

In [37]:
students

['fateh', 'arman', 'sadiq', 'daniyal', 'daniyal']

In [38]:
students [4]

'daniyal'

In [40]:
del students [4]

In [41]:
students

['fateh', 'arman', 'sadiq', 'daniyal']

In [4]:
newList = []

In [6]:
newList.append(299)
newList

[23, 299]

In [7]:
del newList[1]
newList

[23]

In [9]:
newList[0] = 3499
newList #ye replace ho raha hy uper wali value sy

[3499]

In [10]:
newList.insert(1, 'hussain') # to check signature shift + tab within ''
newList

[3499, 'hussain']

In [12]:
newList.insert(29, 'yasir')
newList

[3499, 'hussain', 'Yasir', 'yasir']

In [15]:
newList.index('yasir')

3

In [16]:
newList.remove('Yasir')
newList

[3499, 'hussain', 'yasir']

In [17]:
newList.insert(29, 'yasir')
newList

[3499, 'hussain', 'yasir', 'yasir']

In [18]:
marks = [34, 45, 56, 56, 45]

In [19]:
marks.sort()
marks

[34, 45, 45, 56, 56]

In [20]:
list2 = marks
list2

[34, 45, 45, 56, 56]

In [21]:
del marks[2]
list2

[34, 45, 56, 56]

In [22]:
list2 = marks
list2

[34, 45, 56, 56]

In [23]:
List2 = marks
List2

[34, 45, 56, 56]

In [24]:
marks

[34, 45, 56, 56]

In [26]:
list3 = list2.copy()

In [27]:
list3

[34, 45, 56, 56]

In [29]:
list2.reverse()
list2

[56, 56, 45, 34]

In [30]:
list2.clear()
list2 #ye puri values clear krta hy or del function ak ak value delete krta hy or clear main pura hisab kitab clear hota hy

[]

In [40]:
numbers = [29, 67, 45, 3, 89, 90]

In [41]:
x = numbers.pop()
print(x)
print(numbers)

TypeError: 'list' object is not callable

In [43]:
x

90

In [57]:
numbers = [29, 67, 45, 3, 89, 90]

In [58]:
poppedList = []

In [63]:
poppedElement = numbers.pop()
poppedList.append(poppedElement)
print(numbers)
print(poppednumbers)

TypeError: 'list' object is not callable

In [64]:
if len(numbers) != 0:
    poppedList.append(numbers.pop())
    printpopppedList)
else:
    print('Your List is Empty')

SyntaxError: invalid syntax (<ipython-input-64-4387a1af64e7>, line 3)

In [65]:
List3 = [46, 89, 26, 3, 90]

In [66]:
Len(List3) # to find length of list

NameError: name 'Len' is not defined

# List in List

In [70]:
list4 = [19, 89,['apple', 'banana', 'orange']]
list4

[19, 89, ['apple', 'banana', 'orange']]

In [71]:
list4[2][2]

'orange'

In [93]:
fruits = ['orange', 'peach', 'apple', 'mango']
fruits

['orange', 'peach', 'apple', 'mango']

In [94]:
students = ['ali', '378', 'hussain', 'karachi', 'a', 56, 45, 2]

In [95]:
abc = [23, 89, 3, students, fruits, 'abcd']
abc

[23,
 89,
 3,
 ['ali', '378', 'hussain', 'karachi', 'a', 56, 45, 2],
 ['orange', 'peach', 'apple', 'mango'],
 'abcd']

In [96]:
abc[4].remove('apple')
abc #by value remove krna

[23,
 89,
 3,
 ['ali', '378', 'hussain', 'karachi', 'a', 56, 45, 2],
 ['orange', 'peach', 'mango'],
 'abcd']

In [97]:
abc[3].remove('karachi')
abc

[23,
 89,
 3,
 ['ali', '378', 'hussain', 'a', 56, 45, 2],
 ['orange', 'peach', 'mango'],
 'abcd']

# Slicing (Important For Exam)

In [98]:
#index     -6  -5  -4  -3 -2  -1
numbers = [29, 67, 45, 3, 89, 90]
#index      0   1   2   3  4   5

In [99]:
numbers[-5]

67

In [102]:
numbers[1:3] #[includes: not included ye range hy]

[67, 45]

In [103]:
numbers[1:4]

[67, 45, 3]

In [105]:
numbers[1:4:2] #steping

[67, 3]

In [109]:
print(numbers)
numbers[1:4:2]

TypeError: 'list' object is not callable

In [110]:
#slicing py error nhi aata