# Slicing

In [5]:
abc = [1, 5, 8, 6, 78, 25, 36]

In [6]:
abc[-5:-1]

[8, 6, 78, 25]

# Tupples

In [8]:
# no append, no remove, no del only we can use, it's just like lising but that's the difference

In [9]:
a = ("asad", "fahad", "asma", "fateh")

In [13]:
w,x,y,z = a
w

'asad'

In [14]:
z

'fateh'

# For Loops

In [15]:
for a in range (10):
    print(a, "Fateh")

0 Fateh
1 Fateh
2 Fateh
3 Fateh
4 Fateh
5 Fateh
6 Fateh
7 Fateh
8 Fateh
9 Fateh

In [17]:
for a in range (2,5): #ending point is not mention whih is number 5
    print(a, "Fateh")

2 Fateh
3 Fateh
4 Fateh

In [18]:
for a in range (1, 10, 2):
    print(a, "Fateh")

1 Fateh
3 Fateh
5 Fateh
7 Fateh
9 Fateh

In [19]:
for a in range (0, 10, 2):
    print(a, "Fateh")

0 Fateh
2 Fateh
4 Fateh
6 Fateh
8 Fateh

In [20]:
for a in range (10, 1, -2):
    print(a, "Fateh")

10 Fateh
8 Fateh
6 Fateh
4 Fateh
2 Fateh

In [24]:
for a in range (10, 0, -2):
    print(a, "Fateh")

10 Fateh
8 Fateh
6 Fateh
4 Fateh
2 Fateh

In [27]:
my_num = (2,4,5,8,10)
for i in my_num:
    print(i * 2)

4
8
10
16
20

In [28]:
for i in range(9):
    if i == 3:
        break
    print(i)

0
1
2

In [29]:
for i in range(9):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8